* text=auto
*.cfg text eol=lf
*.md text eol=lf
*.sh text eol=lf
.yaml text eol=lf
.yml text eol=lf

.ansiblespec text eol=lf linguist-vendored
.rspec text eol=lf linguist-vendored
Gemfile text eol=lf linguist-vendored
Rakefile text eol=lf linguist-vendored
*.rb text eol=lf  linguist-vendored # don't correct as language file

envs/windows/etc/** linguist-vendored
