name: ansible lint

on:
  workflow_dispatch: null
  push:
    branches:
      - main
    paths:
      - .github/workflows/ansible-lint.yaml
      - .ansible-lint
      - "envs/**/*.yaml"
  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/ansible-lint.yaml
      - .ansible-lint
      - "envs/**/*.yaml"

env:
  TERM: xterm

jobs:
  lint:
    strategy:
      fail-fast: false
      matrix:
        os: [macos, raspi, ubuntu]
    permissions:
      contents: write
    runs-on: ubuntu-24.04
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Install ansible
        run: pip3 install ansible
      - name: Install ansible-lint
        run: |
          pip3 install ansible-lint
          ansible-lint --version
      - name: Run ansbile-lint
        run: ansible-lint ./envs/${{ matrix.os }}/playbook.yaml
